/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
}

/* CSS Variables */
:root {
	--primary-color: rgba(13, 110, 139, 0.75);
	--secondary-color: rgba(229, 148, 0, 0.9);
	--overlay-color: rgba(24, 39, 51, 0.85);
	--menu-speed: 0.75s;
	--animation-speed: 1s;
}

/* Utility Classes */
.container {
	max-width: 1100px;
	margin: auto;
	padding: 0 3rem;
}

.btn {
	display: inline-block;
	background: var(--primary-color);
	text-decoration: none;
	color: #fff;
	padding: 1rem;
	border: none;
	border-radius: 5px;
	transition: all 0.5s ease;
}
.btn:hover {
	background: var(--overlay-color);
}

/* Showcase */

#showcase {
	background: var(--primary-color);
	height: 100vh;
	position: relative;
}
#showcase:before {
	content: '';
	background: url('/img/showcase.jpg') no-repeat center center/cover;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}
#showcase .showcase-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
	color: #fff;
}
#showcase .showcase-container h1 {
	font-size: 3rem;
	padding: 1rem;
}
#showcase .showcase-container p {
	font-size: 1.5rem;
	padding: 1rem;
}
